@media screen and (max-width: 880px) {
  .SideBar {
    top: 0 !important;
    width: 100% !important;
    height: max-content;
    z-index: 100;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 0 !important;
    .SideBarItems {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.SideBar {
  display: flex;
  width: 27vh;
  position: fixed;
  right: 0;
  flex-direction: column;
  justify-content: space-between;
  // min-height: 100%;
  top: 1rem;
  bottom: 1rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background: #ffff;
  .SideBarItems {
    padding: 0.5rem 0.5rem;
  }
  .SideBarFooter {
    bottom: 0;
  }
}

.SBPSetting {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: end;
  .SBPSItem {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-radius: 5px;
    padding: 0.25rem;
    margin: 0.1rem 0;
    text-decoration: auto;
    color: black;
    .SBPSTitle {
      padding-right: 0.25rem;
    }
  }
  .SBPSItem:hover {
    background-color: #e0e7e7;
  }
}

.SBPSIExite:hover {
  color: rgb(195, 44, 44) !important;
}

.SBPSIProfile:hover {
  color: rgb(35, 123, 247);
}

.ant-popover-content {
  text-align: right;
  font-family: "KalamehWebBold";
}
