.UserProfile {
  margin: 1.2rem 5%;
  margin-right: 35vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  padding: 1rem;
  background: white;
  .UPBtnsbox {
    margin-top: 1rem;
    text-align: end;
    .UPBbox {
      margin: 0 0.5rem 0 0;
      width: 6rem;
      background-color: #ffffff;
    }
    .btn-success {
      color: #198754;
    }
    .btn-danger {
      color: #dc3545;
    }
    .btn-success:hover {
      background-color: #198754;
      color: #ffffff;
    }
    .btn-danger:hover {
      background-color: #dc3545;
      color: #ffffff;
    }
  }
}
