@media screen and (max-width: 880px) {
  .Todo {
    .TodoList {
      margin-right: 5% !important;
    }
    .todoInputs {
      top: 5.5rem !important;
    }
    .TodoLists {
      margin-top: 5rem !important;
      width: 100% !important;
    }
  }
  .UserInfo {
    margin-top: 5rem;
  }
  .AdminContent {
    margin-right: 0 !important;
    margin-top: 5rem;
  }
  .UserProfile {
    margin-right: 5% !important;
    margin-top: 7rem !important;
  }
  .SideBar {
    top: 0 !important;
    width: 100% !important;
    height: max-content;
    z-index: 100;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 0 !important;
    .SideBarItems {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .TodoDetail {
    z-index: 150;
  }
}

@media screen and (max-width: 653px) {
  .TodoItem {
    height: initial !important;
    min-height: 2.5rem;
  }
  .TITitle {
    line-height: 1.5 !important;
    line-break: auto !important;
    white-space: normal !important;
  }
  .ResetPassword {
    .ResetPasswordBox {
      width: 70% !important;
    }
  }
  .SignIn {
    .SingInBox {
      width: 70% !important;
    }
  }
  .SignUp {
    .SignUpBox {
      width: 70% !important;
    }
  }
}
@media screen and (max-width: 557px) {
  .todoButton {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 490px) {
  .TITitle {
    max-width: 300px !important;
  }
  .ResetPassword {
    .ResetPasswordBox {
      width: 90% !important;
    }
  }
  .SignIn {
    .SingInBox {
      width: 90% !important;
    }
  }
  .SignUp {
    .SignUpBox {
      width: 90% !important;
    }
  }
}

@media screen and (max-width: 407px) {
  .Todo {
    .todoInputs {
      top: 7.5rem !important;
    }
    .TodoLists {
      margin-top: 7rem !important;
    }
  }
  .TITitle {
    max-width: 250px !important;
  }
}

@media screen and (max-width: 324px) {
  .TITitle {
    max-width: 150px !important;
  }
}

@media screen and (max-width: 273px) {
  .Todo {
    .todoInputs {
      top: 9.5rem !important;
    }
    .TodoLists {
      margin-top: 9rem !important;
    }
  }
}
.App {
  direction: rtl;
  text-align: center;
  background-color: #fcfcfc;
  min-height: 100vh;
}

.DeleteIcon:hover {
  color: red;
}

.FavoriteIcon:hover,
.FavoritedIcon {
  color: chocolate;
}
